body{
     background-color: rgb(2, 2, 68); /*cor do fundo */
     color: azure; /* cor da letra, cor da fonte */
     margin: 0px;
}

header{
     border-bottom: solid 2px rgb(70, 143, 239);
     padding: 20px;
     font-size: 32px;
     color: cyan;
}

h1{
     color: rgb(135, 206, 241);
     font-family: sans-serif;
}

p{
     /* text-align: center; */
     color: rgb(241, 151, 235);
     font-style: italic;
}

section{
     background: black;
     padding-top: 80px;
     padding-bottom: 80px;
     display: flex;
     justify-content: center;
}